In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [37]:
X = data.iloc[:, :-1].values
Y = data.iloc[:, 4].values
print([X.shape, Y.shape])

[(50, 4), (50,)]

In [38]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
X[:,3] = LabelEncoder().fit_transform(X[:,3])
X = OneHotEncoder(categorical_features=[3]).fit_transform(X).toarray()

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)
X_train.shape

(40, 6)

In [40]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
reg.intercept_

42467.529248549545

In [42]:
reg.coef_

array([ 8.66383692e+01, -8.72645791e+02,  7.86007422e+02,  7.73467193e-01,
        3.28845975e-02,  3.66100259e-02])

In [49]:
Y_pred = reg.predict(X_test)

In [53]:
y = pd.DataFrame(Y_test.flatten(), Y_pred.flatten())

In [54]:
y

                       0
103015.201598  103282.38
132582.277608  144259.40
132447.738452  146121.95
71976.098513    77798.83
178537.482211  191050.39
116161.242302  105008.31
67851.692097    81229.06
98791.733747    97483.56
113969.435330  110352.25
167921.065696  166187.94