In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('Market_Basket_Optimisation.csv',header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
transactions = []
for i in range(0, 7501):
    transactions.append([str(data.values[i,j]) for j in range(0,20)])

In [4]:
from fim import eclat
rules = eclat(transactions)

In [5]:
result = list(rules)
for i in result:
    print(i)

(('nan',), 7500)
(('mineral water', 'nan'), 1787)
(('mineral water',), 1788)
(('eggs', 'nan'), 1348)
(('eggs',), 1348)
(('spaghetti', 'nan'), 1306)
(('spaghetti',), 1306)
(('french fries', 'nan'), 1282)
(('french fries',), 1282)
(('chocolate', 'nan'), 1229)
(('chocolate',), 1229)
(('green tea', 'nan'), 990)
(('green tea',), 991)
(('milk', 'nan'), 972)
(('milk',), 972)